.vc-voice-channel-log-entry {
    list-style-type: none;
    height: 48px;

    /* margin: 4px; */
    display: grid;
    grid-template-columns: 2.25rem 24px 40px max-content;
    gap: 4px;
}

.vc-voice-channel-log-entry-timestamp {
    height: 48px;
    line-height: 48px;
    font-size: .75rem;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    color: var(--text-muted-on-default);
}

.vc-voice-channel-log-entry-avatar {
    left: calc(2.25rem + 32px);
    padding: 4px 0;
    margin-top: 0;
}

.vc-voice-channel-log-entry-icon {
    margin: auto 3px;
}
